{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} CRUD DNS {% endblock %}

{% block main %}

  <div class="row">
    <div class="col-sm-3">

            	<ul class="list-group">

					<li class="list-group-item bg-dark border-0">

                        {% for x2,x3 in maps.items %}
                            <i class="fa fa-globe fa-fw text-white" aria-hidden="true"></i>
                            <a href="#" onclick="popup()">{{ x2 }}</a>
                            <ul class="list-group">
                                {% for x4 in x3 %}
                                    {% if x2 != x4 %}
                                    <li class="list-group-item bg-dark border-0">
                                        <i class="fa fa-globe fa-fw text-white" aria-hidden="true"></i>
                                        <a href="#" onclick="popup()" class="text-white">{{ x4 }}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        {% endfor %}
					</li>





    </div>
    <div class="col-sm-8">

          <div class="table-responsive">




            <table class="table border border-secondary">
               <thead class="thead-dark">
                  <tr>
                  <th style="width:30%">
                  	Domain
                  </th>
                  <th style="width:30%">
                    <a href="{% url 'create' %}"><i class="fa fa-plus fa-fw  text-white" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-edit fa-fw text-white" onclick="popup()" aria-hidden="true"></i></a>
                  	<a href="{% url 'zone_list' %}" ><i class="fa fa-trash fa-fw text-white" aria-hidden="true"></i></a>


                  </th>
                  <th style="width:30%"></th>
				  <th style="width:10%"></th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Name:</td>
                  <td>globo.com</td>
                  <td></td>
                  <td></td>

                </tr>
                  <td>Primary name server:</td>
                  <td>ns1.globo.com</td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>

          </div>

          <h2 class="sub-header">Records</h2>
          <div class="table-responsive">
            <table class="table table-striped border border-secondary">
               <thead class="thead-dark">
                <tr>
                  <th>Host</th>
                  <th>Type</th>
                  <th>Content</th>
                  <th></th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>a</td>
                  <td>A</td>
                  <td>172.4.3.10</td>
                  <td>
                  	<a href="#"><i class="fa fa-edit fa-fw" onclick="popup()" aria-hidden="true"></i></a>
                  	<a href="#"><i class="fa fa-trash fa-fw" onclick="popup()" aria-hidden="true"></i></a>
                  </td>

                </tr>
                <tr>
                  <td>a</td>
                  <td>A</td>
                  <td>172.4.3.10</td>
                  <td>

                    <a href="#"><i class="fa fa-edit fa-fw" onclick="popup()" aria-hidden="true"></i></a>
                  	<a href="#"><i class="fa fa-trash fa-fw" onclick="popup()" aria-hidden="true"></i></a>
                  </td>

                </tr>
                <tr>
                  <td>a</td>
                  <td>A</td>
                  <td>172.4.3.12</td>
                  <td>

                    <a href="#"><i class="fa fa-edit fa-fw" onclick="popup()" aria-hidden="true"></i></a>
                  	<a href="#"><i class="fa fa-trash fa-fw" onclick="popup()" aria-hidden="true"></i></a>

                  </td>

                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" onclick="popup()" class="btn btn-dark">+ Add Record</button>

    </div>

  </div>

{% endblock %}